$shocking: #f50066;
$shocking-light: #f11d8c;
$shocking-superLight: #e76dac;

$sea-superLight: #acf3ff;
$sea-light: #6affc8;
$sea: #00e993;
$death: rgb(0, 0, 0);
$peace: rgb(255, 255, 255);
$mygray: rgb(39, 39, 39);

$celeste: #59bdcf;
$celeste-light: #7dcfdd;
$celeste-superLight: #b6f5ff;
