.containerSezionePrimoPiano {
  margin: auto;
  margin-top: 150px;
  width: 95%;
  height: 500px;
  padding: 0;
  position: relative;
  overflow-y: hidden;
  border: {
    radius: 50px;
    width: 20px;
    color: $sea-superLight;
    style: solid;
  }
  img {
    position: absolute;
    left: 0;
    width: 50%;
  }

  p {
    color: $death;
    margin: 40px;
    text-align: center;
    position: relative;
    font: {
      size: 35px;
      weight: bold;
    }
    i {
      text-transform: uppercase;
      font-size: 50px;
      font-style: normal;
      font-weight: bolder;
      //position: absolute;
      // left: 280px;
      opacity: 0;
      overflow: hidden;
      color: $shocking;
      -webkit-animation: testoInMovimento 6s linear infinite 0s;
      -ms-animation: testoInMovimento 6s linear infinite 0s;
      animation: testoInMovimento 6s linear infinite 0s;
    }
  }
}
.parole i:nth-child(2) {
  -webkit-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
  color: $shocking;
}
.parole i:nth-child(3) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
  color: $shocking;
}
@-webkit-keyframes testoInMovimento {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes testoInMovimento {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
  }
}
