.containerSezionePrimoPiano {
  margin: auto;
  margin-top: 150px;
  width: 100%;
  height: 500px;
  padding: 0;
  position: relative;
  overflow-y: hidden;

  .img1 {
    position: absolute;
    top: 2px;
    left: 0;
    width: 40%;
    border-radius: 50px;
    margin-left: 10px;
  }
  .img2 {
    position: absolute;
    top: 155px;
    right: 0;
    width: 27%;
  }
  .img3 {
    position: absolute;
    top: 281px;
    right: 130px;
    width: 22%;
  }
  h1 {
    font-size: 45px;
    margin-top: 15px;
  }
  button {
    margin-top: 20px;
  }
}
#gustiCiambelle {
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 250px;
  font-size: 22px;
}
